<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Card Swiper</title>
  <link rel="stylesheet" href="./style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
  <ion-icon id="dislike" name="heart-dislike"></ion-icon>
  <div id="swiper"></div>
  <ion-icon id="like" name="heart"></ion-icon>
  <p id="nickname"></p>
  <ul id="likedAnimeList"></ul>
  <ul id="userList"></ul>
  <div id="matching-anime"></div>

  <script src="./card.js"></script>
  <script src="./script.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script>
    const socket = io();
    const nicknameDisplay = document.querySelector('#nickname');

    const likedAnimeList = document.querySelector('#likedAnimeList');
    const userList = document.querySelector('#userList');

    socket.on('randomNickname', (randomNickname) => {
      nicknameDisplay.textContent = `Your Nickname: ${randomNickname}`;
    });

    socket.on('userList', (usernames) => {
      userList.innerHTML = '';
      usernames.forEach((username) => {
        const li = document.createElement('li');
        li.textContent = username;
        userList.appendChild(li);
      });
    });
    socket.on('matchingAnime', function (data) {
      console.log(data);
      const matchingAnimeElement = document.getElementById('matching-anime');
      matchingAnimeElement.innerHTML = `
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  show Matching Anime
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Matching Anime</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="${data.image}" alt="${data.name}">
        <p>${data.name}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  `;
    });



  </script>
</body>

</html>